html{
 background-color: rgb(61, 119, 131);
}

body {
  height: 98vh;
  display: flex;
}

@media only screen and (max-width: 500px) {
  canvas {
    margin: 10px 0 !important;
    width: 95vw !important;
    height: 90vh !important;
  }
}

